<%- include('header') %>
<div>
    <h1>RESERVATIONSSS</h1>

        <form action="/filteredReservations" method="POST">
            <select class="custom-select" name="filter">
                <option selected disabled>Select a filter</option>
                <option value="allReservations">All reservations</option>
                <option value="activeReservations">Active reservations</option>
                <option value="passedReservations">Passed reservations</option>
            </select>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        <div class="row">
            <% for(var i=0; i<reservations.length; i++) {%>
                <div class="col col-lg-4 bordifica">
                    <div style="width:200px;height:100px;background-color:yellow">
                        Room name: <%= reservations[i].roomName %></br>
                        Date: <%= reservations[i].date %> </br>
                        Slot: <%= reservations[i].slot %>
                    </div>
                    <form action="/deleteReservation" method="POST">
                        <input type="text" name="reservationID" value="<%= reservations[i].reservationID %>" style="display:none" />
                        <button type="submit" class="btn mb-4">Delete reservation</button>
                    </form>
                </div>
            <% } %>
        </div>

        <% if(error != null){ %>
            <p class="text-danger">
                <%= error %>
            </p> 
        <% } %>
</div>
<%- include('footer') %>
