<%- include('header') %>
<div>
    <h1>RESERVATIONSSS</h1>

        <ul>
            <% for(var i=0; i<reservations.length; i++) {%>
                <div style="width:200px;height:100px;background-color:yellow">
                    Room name: <%= reservations[i].roomName %></br>
                    Date: <%= reservations[i].date %> </br>
                    Slot: <%= reservations[i].slot %>
                </div>
                <form action="/deleteReservation" method="POST">
                    <input type="text" name="reservationID" value="<%= reservations[i].reservationID %>" style="display:none" />
                    <button type="submit" class="btn mb-4">Delete reservation</button>
                </form>
            <% } %>
        </ul>

        <% if(error != null){ %>
            <p class="text-danger">
                <%= error %>
            </p> 
        <% } %>
</div>
<%- include('footer') %>
