<%- include('header') %>
<div class="container-fluid">

    <h1 class="h1Title">Rooms</h1>

    <div class="row rowRoom">
        <% for(var i=0; i<rooms.length; i++) {%>
            <div class="col-md-4 colRoom">
                
                <a href="/room/<%= rooms[i]._id %>" style="text-decoration:none">
                    <span class="colRoomElement">
                            <p class="pRoomElement">
                                Room name: <%= rooms[i].name %></br>
                                Capacity: <%= rooms[i].capacity %>
                            </p>
                    </span>
                </a>


            </div>
        <% } %>
    </div>

    <% if(error != null){ %>
        <p class="text-danger">
            <%= error %>
        </p> 
    <% } %>

</div>
<%- include('footer') %>