<%- include('header') %>
<div class="register">
    <h1>Room name: <%= room.name %></h1>

        <p>Capacity: <%= room.capacity %></p>

        <% if(error != null){ %>
            <p class="text-danger">
                <%= error %>
            </p> 
        <% } %>
</div>
<%- include('footer') %>